@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

body {
  font-family: 'Lato', sans-serif;
  transition: .2s;
  background-color: #f2f1f1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}