@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");

body {
  height: 100vh;
  font-family: "Lato", sans-serif;
  transition: 0.2s;
  background-color: black;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  max-width: 1020px;
  width: 100%;
  flex-direction: column;
  margin: 0 auto;
}