.header {
  min-width: 100%;
  background: rgb(92, 92, 92);
  margin-bottom: 30px;
  padding: 30px 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading {
  color: #fff;
}

.textarea {
  width: 100%;
  margin-bottom: 40px;
  border: none;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 15px;
  font-size: 20px;
  outline: none;
  transition: box-shadow 0.3s;
  cursor: pointer;
  resize: none;

  &:focus {
    box-shadow: 1px 1px 5px rgba(61, 37, 37, 0.4);
  }
}

.keyboard__wrapper {
  overflow: hidden;
  position: relative;
  order: 2;
}

.footer {
  min-width: 100%;
  background: rgb(92, 92, 92);
  margin-top: 30px;
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: center;

  a:nth-child(1) {
    margin-right: 45%;
  }

  &_img-git,
  &_link-img-rs {
    max-height: 50px;
  }

  &_link-img-rs {
    filter: invert(1);
  }
}

.keyboard__row {
  display: flex;
}

.keys {
  width: 60px;
  height: 60px;
  background-color: rgb(122, 156, 135);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  transition: 0.2s;
  z-index: 5;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #448744;
}

.keys.active {
  background-color: rgb(92, 92, 92);
  color: #fff;
  border: 1px solid #272927;
}

.keys--backspace {
  width: 120px;
  flex-grow: 2;
  transition: 0.2s;
}

.keys--capslock {
  width: 122px;
  flex-grow: 2;
  transition: 0.2s;
}

.keys--enter {
  width: 120px;
  flex-grow: 2;
}

.keys--shift {
  width: 122px;
  flex-grow: 2;
}

.keys--space {
  width: 456px;
  flex-grow: 2;
  transition: 0.2s;
}

.info {
  text-align: center;
  order: 2;
  margin-top: 20px;
  line-height: 30px;
}

.alpha {
  transition: 0.2s;
}

.keys--capslock,
.keys--backspace,
.keys--enter,
.keys--space,
.alpha {
  &:hover {
    background-color: rgb(92, 92, 92);
    color: #fff;
    transition: 0.2s;
    border: 1px solid #272927;
  }

  &:active {
    background-color: rgb(58, 58, 58);
    transition: 0.2s;
  }

}