@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  transition: 0.2s;
  background-color: #f2f1f1;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1020px;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  margin: 0 auto;
}

.heading {
  margin-bottom: 20px;
  color: rgb(123, 123, 123);
}

.textarea {
  width: 100%;
  margin-bottom: 40px;
  border: none;
  background-color: #e7e7e7;
  padding: 15px;
  font-size: 20px;
  outline: none;
  transition: box-shadow 0.3s;
  cursor: pointer;
  resize: none;
}

.textarea:focus {
  box-shadow: 1px 1px 5px rgba(61, 37, 37, 0.4);
}

.keyboard__wrapper {
  background-color: #e7e7e7;
  overflow: hidden;
  position: relative;
  order: 2;
}

.keyboard__row {
  display: flex;
}

.keys {
  width: 60px;
  height: 60px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  transition: 0.2s;
  z-index: 5;
  cursor: pointer;
  border-radius: 5px;
}

.keys.active {
  background-color: #333;
  color: #fff;
}

.keys--backspace {
  width: 120px;
  flex-grow: 2;
  transition: 0.2s;
}
.keys--backspace:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.keys--capslock {
  width: 122px;
  flex-grow: 2;
  transition: 0.2s;
}
.keys--capslock:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.keys--enter {
  width: 120px;
  flex-grow: 2;
}

.keys--shift {
  width: 122px;
  flex-grow: 2;
}

.keys--space {
  width: 456px;
  flex-grow: 2;
  transition: 0.2s;
}
.keys--space:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}

.info {
  order: 2;
  margin-top: 20px;
  line-height: 30px;
}

.alpha {
  transition: 0.2s;
}
.alpha:hover {
  background-color: #333;
  color: #fff;
  transition: 0.2s;
}